@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html {
  font-size: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: 1em;
  font-weight: 300;
  padding: 1em;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.lead {
  font-size: 2.8rem;
}

.row {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile {
  width: 95%;
  font-weight: 600;
  margin-bottom: 10px;
}

.rand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.rand h2,
.score h2 {
  font-size: 2.5em;
  font-weight: 800;
}
.score h2 {
  padding: 0.5em;
}

.scr,
.rnd {
  font-size: 2.5rem;
}

.win {
  font-size: 2em;
  font-weight: 900;
  color: green;
}

.loss {
  font-size: 2em;
  font-weight: 900;
  color: red;
}

.wins {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.winning,
.losing {
  font-size: 2.6em;
}

.hidden {
  display: none;
}

.intro {
  width: 100vw;
}

.jumbotron {
  margin: 0px;
  padding: 0px;
}

.card-img-top {
  width: 152px;
  height: 170px;
  margin-top: 20px;
}

.crystals {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

h4 {
  display: none;
}

.gar-value,
.eme-value,
.sap-value,
.ame-value {
  font-size: 30px;
  font-weight: 700;
}

.result {
  width: 90%;
  border: 1px solid red;
  padding: 1em 2em;
  margin-left: 20px;
}

footer {
  width: 95%;
}

footer p {
  font-size: 2.5rem;
}

/* make mobile friendly site */
/* @media only screen and (max-width: 980px) {
  h2,
  h4 {
    font-size: 90%;
  }

  .hidden,
  .lead {
    display: none;
  }
  .mobile {
    display: inline;
    width: 100vw;
  }

  /* .crystals {
        width: 100%;
    } 

  .display-3 {
    font-size: 60px;
  }

  .card-img-top {
    max-width: 100%;
    display: block;
    height: auto;
  }
  .card-title {
    font-size: 90%;
  }
}

@media only screen and (max-width: 768) {
  h2,
  h4 {
    font-size: 80%;
  }

  .hidden,
  .lead {
    display: none;
  }
  .mobile {
    display: inline;
  }

  .display-3 {
    font-size: 40px;
  }

  /* .crystals {
        width: 100%;
    } 

  .card-img-top {
    max-width: 100%;
    display: block;
    height: auto;
  }

  .card-title {
    font-size: 80%;
    font-weight: 800;
  }
}

@media only screen and (max-width: 640px) {
  h2,
  h4 {
    font-size: 70%;
  }

  .hidden,
  .lead {
    display: none;
  }
  .mobile {
    display: inline;
  }

  /* .crystals {
        width: 100%;
    } 

  .display-3 {
    font-size: 30px;
    font-weight: 800;
  }
  .card-img-top {
    max-width: 100%;
    display: block;
    height: auto;
  }
  .card-title {
    font-size: 70%;
    font-weight: 800;
  }
} */
