body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin: 0 auto;
    text-align: center;
}

.intro {
    text-align: justify;
}


.card-img-top {
    width: 152px;
    height: 170px;
}

.crystal {
    text-align: center;
}

.img {
    margin-left: 50px;
}

.gar-value, .eme-value, .sap-value, .ame-value {
    font-size: 30px;
    font-weight: 700;
}