body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin: 0 auto;
    text-align: center;
}

.intro {
    text-align: justify;
}

.mobile {
    display: none;
}

.jumbotron {
    margin: 0px;
    padding: 0px;
}


.card-img-top {
    width: 152px;
    height: 170px;
    margin-top: 20px;
}

.crystal {
    text-align: center;
}

/* .img {
    margin-left: 50px;
} */

.gar-value, .eme-value, .sap-value, .ame-value {
    font-size: 30px;
    font-weight: 700;
}

/* make mobile friendly site */
@media only screen and (max-width: 980px) {
    .jumbotron {
        width: 100%;
    }

    h2, h4 {
        font-size: 90%;
    }

    .hidden, .lead {
        display: none;
    }
    .mobile {
        display: inline;
    }

    .crystals {
        width: 100%;
    }
    
    .display-3 {
        font-size: 60px;
       
    }

    .card-img-top {
        width: 90%;
        height: 90%;
    }
    .card-title {
        font-size: 90%;
    }
}

@media only screen and (max-width:768) {
    .jumbotron {
        width: 100%;
    } 

    h2, h4 {
        font-size: 80%;
    }
    
    .hidden, .lead {
        display: none;
    }
    .mobile {
        display: inline;
    }

    .display-3 {
        font-size: 40px;
        
    }

    .crystals {
        width: 100%;
    }

    .card-img-top {
        width: 80%;
        height: 80%;
    }

    .card-title {
        font-size: 80%;
        font-weight: 800;
    }
}

@media only screen and (max-width: 640px) {
    .jumbotron {
        width: 100%;
    }

    h2, h4 {
        font-size: 70%;
    }

    .hidden, .lead {
        display: none;
    }
    .mobile {
        display: inline;
    }

    .crystals {
        width: 100%;
    }

    .display-3 {
        font-size: 30px;
        font-weight: 800;
    }
    .card-img-top {
        width: 70%;
        height: 70%;
    }
    .card-title {
        font-size: 70%;
        font-weight: 800;
    }
}